<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [219]:
import pandas as pd
import psycopg2

In [221]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [222]:
# текст запроса
query_3_1 = f'''
select count(*)
from public.vacancies
'''

In [223]:
# результат запроса
print(pd.read_sql_query(query_3_1, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\3884948652.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_3_1, connection))

   count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [224]:
# текст запроса
query_3_2 = '''
select count(*)
from public.employers
'''

In [225]:
# результат запроса
print(pd.read_sql_query(query_3_2, connection))

   count
0  23501

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\1597419836.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_3_2, connection))

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [226]:
# текст запроса
query_3_3 = '''
select count(*)
from public.areas
'''

In [227]:
# результат запроса
print(pd.read_sql_query(query_3_3, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\1921387720.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_3_3, connection))

   count
0   1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [228]:
# текст запроса
query_3_4 = '''
select count(*)
from public.industries
'''

In [229]:
# результат запроса
print(pd.read_sql_query(query_3_4, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\2681397103.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_3_4, connection))

   count
0    294

***

In [230]:
# выводы по предварительному анализу данных
# По предварительному анализу, данных достаточно много. 
# Таблиц в общем 5. vacancies - основная таблица, имеет связь с таблицами employers(по ключу employer_id) и areas(по ключу area_id). 
# Таблица employers имееь связь с таблицами areas(по ключу area) и employers_industries(по ключу employer_id). 
# Таблица empployers_industries также имеет связь с таблицей industries(по ключу industry_id)

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [231]:
# текст запроса
query_4_1 = '''
select a.name, count(v.id) cnt
from public.vacancies v
    join public.areas a on a.id = v.area_id
group by a.id
order by count(v.id) desc
limit 5
'''

In [232]:
# результат запроса
print(pd.read_sql_query(query_4_1, connection))

              name   cnt
0           Москва  5333
1  Санкт-Петербург  2851
2            Минск  2112
3      Новосибирск  2006
4           Алматы  1892

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\3256710294.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_4_1, connection))

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [233]:
# текст запроса
query_4_2 = '''
select count(*)
from public.vacancies
where salary_from is not null or salary_to is not null
'''

In [234]:
# результат запроса
print(pd.read_sql_query(query_4_2, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\2467670591.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_4_2, connection))

   count
0  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [235]:
# текст запроса
query_4_3 = '''
select avg(salary_from) sf, avg(salary_to) st
from public.vacancies
'''

In [236]:
# результат запроса
print(pd.read_sql_query(query_4_3, connection))

             sf             st
0  71064.657901  110536.741923

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\3194659505.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_4_3, connection))

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [237]:
# текст запроса
query_4_4 = '''
select schedule, employment, count(*) cnt
from public.vacancies
group by schedule, employment
order by count(*) desc
'''

In [238]:
# результат запроса
print(pd.read_sql_query(query_4_4, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\2815225880.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_4_4, connection))

            schedule           employment    cnt
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [239]:
# текст запроса
query_4_5 = '''
select experience, count(*) cnt
from public.vacancies
group by experience
order by count(*) 
'''

In [240]:
# результат запроса
print(pd.read_sql_query(query_4_5, connection))

           experience    cnt
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\779928909.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_4_5, connection))

***

In [241]:
# выводы по детальному анализу вакансий
# Больших городах больше вакансий нежели в маленьких
# Около половины вакансий, в которых не заполнена информация о зарплате. Предполагаю, работодатели предпочитают обсуждать зарплату с каждым кандидатом индивидуально
# Большинство вакансий требуют полный день и полную занятость, меньше всего вакансий на Сменный график и Проектную работу. Большая часть работодателкей предпочитают брать на работу на постоянной основе.
# В большей части вакансий требуемый опыт работы От 1 года до 3 лет, предполагаю работодатели больше ищут специалистов со средним уровнем, так как им также выплачисвается средняя зарплата. 
# Меньше всего вакансий, где требуемый опыт работы больше 6 лет, предполагаю также изза зарплаты, а также возраста. Возможно работодатели предпочитают более молодых специалистов, так как чаще у молодых специалистов меньше опрыта

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [242]:
# текст запроса
# первая часть работодатели, которые находятся на первом месте по количеству вакансий.
# вторая часть работодатели, которые находятся на пятом месте по количеству вакансий.
query_5_1 = '''
(select e.name, count(v.id) cnt
from public.vacancies v
    join public.employers e on e.id = v.employer_id
group by e.id
order by count(v.id) desc
limit 1)
union 
(select e.name, count(v.id)
from public.vacancies v
    join public.employers e on e.id = v.employer_id
group by e.id
order by count(v.id) desc
limit 1
offset 4)
order by cnt desc
'''

In [243]:
# результат запроса
print(pd.read_sql_query(query_5_1, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\3667958925.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_5_1, connection))

            name   cnt
0         Яндекс  1933
1  Газпром нефть   331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [244]:
# текст запроса
# первая часть: количество работодателей и вакансий для каждого региона
# вторая часть: Среди регионов, в которых нет вакансий тот, в котором наибольшее количество работодателей
query_5_2 = '''
(select a.name, count(distinct(e.id)) employers_cnt, count(distinct(v.id)) vacancies_cnt
from public.areas a
    left join public.vacancies v on v.area_id = a.id
    left join public.employers e on e.area = a.id
group by a.id
order by count(v.id) desc)
union all
(select a.name, count(distinct(e.id)) employers_cnt, count(distinct(v.id)) vacancies_cnt
from public.areas a
    left join public.vacancies v on v.area_id = a.id
    left join public.employers e on e.area = a.id
group by a.id
having count(distinct(v.id)) = 0
order by count(distinct(e.id)) desc
limit 1)
'''

In [245]:
# результат запроса
print(pd.read_sql_query(query_5_2, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\622263722.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_5_2, connection))

                       name  employers_cnt  vacancies_cnt
0                    Москва           5864           5333
1           Санкт-Петербург           2217           2851
2                     Минск           1115           2112
3                    Алматы            721           1892
4               Новосибирск            573           2006
...                     ...            ...            ...
1358                Можайск              1              0
1359  Новосибирская область              5              0
1360     Забайкальский край              1              0
1361           Преображение              0              0
1362                 Россия            410              0

[1363 rows x 3 columns]

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [246]:
# текст запроса
query_5_3 = '''
select e.name, count(distinct(v.area_id)) area_cnt
from public.vacancies v
    right join public.employers e on e.id = v.employer_id
group by e.id
order by count(v.area_id) desc
'''

In [247]:
# результат запроса
print(pd.read_sql_query(query_5_3, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\596719586.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_5_3, connection))

                 name  area_cnt
0              Яндекс       181
1          Ростелеком       152
2            Тинькофф        43
3                СБЕР        24
4       Газпром нефть        24
...               ...       ...
23496          МАКМАХ         0
23497   Завод Стелкон         0
23498        ИнтерЭВМ         0
23499  Фёдоров Михаил         0
23500      ИнтерТраст         0

[23501 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [248]:
# текст запроса
query_5_4 = '''
with empls as(
    select id
    from public.employers employer_id
    except
    select distinct(ei.employer_id)
    from public.employers e 
        join public.employers_industries ei on ei.employer_id = e.id
        )
select count(empls)  
from empls         
'''

In [249]:
# результат запроса
print(pd.read_sql_query(query_5_4, connection))

   count
0   8419

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\2827371263.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_5_4, connection))

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [250]:
# текст запроса
query_5_5 = '''
select e.name
from public.employers_industries ei
    join public.employers e on e.id = ei.employer_id
group by e.id
having count(ei.industry_id) = 4
order by e.name
limit 1
offset 2
'''

In [251]:
# результат запроса
print(pd.read_sql_query(query_5_5, connection))

   name
0  2ГИС

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\3393298525.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_5_5, connection))

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [252]:
# текст запроса
query_5_6 = '''
select count(ei.employer_id)
from public.employers_industries ei
    join public.industries i on i.id = ei.industry_id
where i.name = 'Разработка программного обеспечения'
'''

In [253]:
# результат запроса
print(pd.read_sql_query(query_5_6, connection))

   count
0   3553

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\714602840.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_5_6, connection))

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [254]:
# код для получения списка городов-милионников
import requests
from bs4 import BeautifulSoup
url = 'https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8'
response = requests.get(url)
page = BeautifulSoup(response.text, 'html.parser')
# Находим первую таблицу с нужным классом
table = page.find('table', class_='standard sortable')
# Собираем все теги <a> внутри <td>, у которых есть атрибут title
cities = []
for td in table.find_all('td'):
    a = td.find('a', title=True)
    if a:
        cities.append(a['title'])
cities = list(set(cities))
sql_ready_cities = ', '.join(f"'{city}'" for city in cities)
print(sql_ready_cities)

'Санкт-Петербург', 'Казань', 'Красноярск', 'Екатеринбург', 'Краснодар', 'Самара', 'Уфа', 'Челябинск', 'Волгоград', 'Омск', 'Пермь', 'Ростов-на-Дону', 'Москва', 'Нижний Новгород', 'Воронеж', 'Новосибирск'

In [255]:
# текст запроса
query_5_7 = f'''
select a.name, count(v.id) cnt
from public.vacancies v
    join public.areas a on a.id = v.area_id
    join public.employers e on e.id = v.employer_id
where e.name = 'Яндекс' 
    and a.name in ({sql_ready_cities})
group by a.id


union

select 'total', count(v.id) cnt
from public.vacancies v
    join public.areas a on a.id = v.area_id
    join public.employers e on e.id = v.employer_id
where e.name = 'Яндекс' 
    and a.name in ({sql_ready_cities})
order by cnt
'''

In [256]:
# результат запроса
print(pd.read_sql_query(query_5_7, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\3035907293.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_5_7, connection))

               name  cnt
0              Омск   21
1         Челябинск   22
2        Красноярск   23
3         Волгоград   24
4             Пермь   25
5            Казань   25
6    Ростов-на-Дону   25
7               Уфа   26
8            Самара   26
9         Краснодар   30
10          Воронеж   32
11      Новосибирск   35
12  Нижний Новгород   36
13     Екатеринбург   39
14  Санкт-Петербург   42
15           Москва   54
16            total  485

***

In [257]:
# выводы по анализу работодателей
# Компания "Яндекс" публикует самое большее количество вакансий, также у Яндекс есть вакансии во всех городах миллионниках России
# Из 23501 работодателей 8419 не указали ни одной сферы деятельности. В то время как около 1000 компаний указали целых 4 сферы

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [258]:
# текст запроса
# текст запроса
query_6_1 = '''
select count(*)
from public.vacancies 
where lower(name) like '%data%'
    or lower(name) like '%данн%'   
'''

In [259]:
# результат запроса
print(pd.read_sql_query(query_6_1, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\771487868.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_6_1, connection))

   count
0   1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [260]:
# текст запроса
query_6_2 = '''
select count(*)
from public.vacancies 
where (
        lower(name) like '%data scientist%'
        or lower(name) like '%data science%'
        or lower(name) like '%исследователь данных%'
        or (name ilike '%ML%' and name not ilike '%HTML%')
        or lower(name) like '%machine learning%'
        or lower(name) like '%машинн%обучен%') 
    and (
        lower(name) like '%junior%'
        or experience='Нет опыта'
        or employment='Стажировка'
    )
'''

In [261]:
# результат запроса
print(pd.read_sql_query(query_6_2, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\2222615294.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_6_2, connection))

   count
0     51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [262]:
# текст запроса
query_6_3 = '''
select count(*)
from public.vacancies 
where (
        lower(name) like '%data scientist%'
        or lower(name) like '%data science%'
        or lower(name) like '%исследователь данных%'
        or (name ilike '%ML%' and name not ilike '%HTML%')
        or lower(name) like '%machine learning%'
        or lower(name) like '%машинн%обучен%') 
    and (
        key_skills like '%SQL%'
        or key_skills like '%postgres%'
    )
'''

In [263]:
# результат запроса
print(pd.read_sql_query(query_6_3, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\3898326012.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_6_3, connection))

   count
0    229

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [264]:
# текст запроса
query_6_4 = '''
select count(*)
from public.vacancies 
where (
        lower(name) like '%data scientist%'
        or lower(name) like '%data science%'
        or lower(name) like '%исследователь данных%'
        or (name ilike '%ML%' and name not ilike '%HTML%')
        or lower(name) like '%machine learning%'
        or lower(name) like '%машинн%обучен%') 
    and (
        key_skills like '%Python%'
    )
'''

In [265]:
print(pd.read_sql_query(query_6_4, connection))

   count
0    357

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\2541179571.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_6_4, connection))

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [266]:
# текст запроса
query_6_5 = '''
select round(avg(length(key_skills) - length(replace(key_skills,CHR(9),''))+1),2)
from public.vacancies 
where (
        lower(name) like '%data scientist%'
        or lower(name) like '%data science%'
        or lower(name) like '%исследователь данных%'
        or (name like '%ML%' and name not like '%HTML%')
        or lower(name) like '%machine learning%'
        or lower(name) like '%машинн%обучен%' 
    ) and
    key_skills is not null
'''

In [267]:
# результат запроса
print(pd.read_sql_query(query_6_5, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\4084387494.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_6_5, connection))

   round
0   6.41

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [268]:
# текст запроса
query_6_6 = '''
select experience, round(avg(
    case 
        when salary_from is not null and salary_to is not null then (salary_from+salary_to)/2
        when salary_from is not null and salary_to is null then salary_from
        else salary_to
    end)) as avg_salary
from public.vacancies 
where (
        lower(name) like '%data scientist%'
        or lower(name) like '%data science%'
        or lower(name) like '%исследователь данных%'
        or (name like '%ML%' and name not like '%HTML%')
        or lower(name) like '%machine learning%'
        or lower(name) like '%машинн%обучен%' 
    ) and
    (
        salary_from is not null
        or salary_to is not null
    )
group by experience
'''

In [269]:
# результат запроса
print(pd.read_sql_query(query_6_6, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\655091842.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_6_6, connection))

           experience  avg_salary
0           Нет опыта     74643.0
1  От 1 года до 3 лет    139675.0
2       От 3 до 6 лет    243115.0

***

In [ ]:
# выводы по предметному анализу
# Большинство вакансий DS для более опытных соискателей. Только 51 вакансия для новичков
# Хотя DS тесно связана с SQL и posgress, только В 229ти из всех вакансий для DS требуют наличие этих навыкрв у соискателей, немного больше требуют Python
# Для DS даже для новичков средняя зп 74К, что говорит о хорошей оплачиваемрсти данной сферы

# Общий вывод по проекту

In [ ]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования

Самые популярные индустрии

In [275]:
# текст запроса
query_7_1 = '''
select i.name industry, count(*) employer_count
from public.employers_industries ei
    join industries i on i.id=ei.industry_id
group by i.id
order by employer_count desc
'''

In [276]:
# результат запроса
print(pd.read_sql_query(query_7_1, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\3229281872.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_7_1, connection))

                                              industry  employer_count
0                  Разработка программного обеспечения            3553
1    Системная интеграция,  автоматизации технологи...            2993
2    Интернет-компания (поисковики, платежные систе...            1675
3    Маркетинговые, рекламные, BTL, дизайнерские, E...             798
4                                Консалтинговые услуги             662
..                                                 ...             ...
289                      Благотворительная организация               4
290        Лифтовое хозяйство (монтаж, сервис, ремонт)               4
291                                          Автошкола               3
292              Ботанический сад, зоопарк, заповедник               3
293             Ассоциация в сфере культуры, искусства               1

[294 rows x 2 columns]

Средняя зарплата по региону

In [279]:
# текст запроса
query_7_2 = '''
select a.name, round(avg(
    case 
        when v.salary_from is not null and v.salary_to is not null then (v.salary_from+v.salary_to)/2
        when v.salary_from is not null and v.salary_to is null then v.salary_from
        else v.salary_to
    end)) as avg_salary
from public.vacancies v 
    join public.areas a on a.id = v.area_id
where v.salary_from is not null or v.salary_to is not null
group by a.id
order by avg_salary desc
'''

In [280]:
# результат запроса
print(pd.read_sql_query(query_7_2, connection))

C:\Users\aikerimkulova\AppData\Local\Temp\ipykernel_128300\3902856433.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  print(pd.read_sql_query(query_7_2, connection))

            name  avg_salary
0       Германия    452751.0
1       Болгария    324348.0
2        Испания    300000.0
3     Черногория    288589.0
4          Литва    263019.0
..           ...         ...
666        Урень     13800.0
667           Ош     12743.0
668       Кобрин     12389.0
669  Степногорск     12205.0
670     Шахтинск      9764.0

[671 rows x 2 columns]

In [ ]:
# текст запроса
query_7_2 = '''
select a.name, round(avg(
    case 
        when v.salary_from is not null and v.salary_to is not null then (v.salary_from+v.salary_to)/2
        when v.salary_from is not null and v.salary_to is null then v.salary_from
        else v.salary_to
    end)) as avg_salary
from public.vacancies v 
    join public.areas a on a.id = v.area_id
where v.salary_from is not null or v.salary_to is not null
group by a.id
order by avg_salary desc
'''

## Вывод по проекту

Чем крупнее работодатель, тем больше вакансий публикует, следовательно тем больше рабочих мест.
Также в крупных городах больше работадателей и вакансий, следовательно больше возможностей найти работу.
Тройка самых популярных индустрий среди работодателей (не учтены работадатели, не указавшие свою индустрию) это работадатели связанные с IT. Что говорит о том, что эта сфера стала намного популярнее и востребованнее.
Средняя зарплата зарубежных вакансий намного выше, к примеру тройка регионов с самой высокой зп Германия, Болгария и Испания. Что также говорит об уровне жизни в этих странах.